Primero importamos los datos necesarios para ejecutar nuestro dataset

In [48]:
# utilizado para manejos de directorios y rutas
import os

# Computacion vectorial y cientifica para python
import numpy as np
import pandas as pd

# Validar

Cargamos los datos y los mostramos para que el codigo corra correctamente

In [49]:
# Cargar datos usando pandas
data = pd.read_csv('/content/kc_house_data.csv', delimiter=";")

# Mostrar las primeras filas del dataframe
print(data.head())

# Extraer X e y
X = data.iloc[:, :-1].values  # Todas las columnas excepto la última
y = data.iloc[:, -1].values    # La última columna

# Imprimir las formas de los datos
print("\nForma de X:", X.shape)
print("Forma de y:", y.shape)

  id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0  7129300520,"20141013T000000",221900,3,1,1180,5...
1  6414100192,"20141209T000000",538000,3,2.25,257...
2  5631500400,"20150225T000000",180000,2,1,770,10...
3  2487200875,"20141209T000000",604000,4,3,1960,5...
4  1954400510,"20150218T000000",510000,3,2,1680,8...

Forma de X: (21613, 0)
Forma de y: (21613,)